<div>
  <div id="header">
    <a id="tshop" href>T SHOP</a>
    <div id="header2">
      <a id="new" href>New</a>
      <a id="women" >Women</a>
      <a id="men" href="/men" >Men</a>
    </div>
    <div id="header1">
      <a class="header1" href><img src="account.png" /> </a>
      <a class="header1" id="login" href>Log In</a>
      <a class="header1" href="/cart"><img src="cart.png" /> </a>
    </div>
  </div>
  <div>
    <img src="logo.png" id="logo"/>
  </div>
  <div class="flex-container">
    <div >
        <img class="fleximg" src="item0.png" />
        <h2>green clothes</h2>
    </div>
    <div >
        <img class="fleximg" src="item1.png" />
    </div>
    <div >
        <img class="fleximg" src="item2.png" />
    </div>
  <div>
    
  </div>
</div>

