<div>
    <h3>Clothing Inventory</h3>
    <table mat-table>
        
        <thead>
            <tr><th>Id</th> <th>Name</th> <th>Gender</th> <th>Image</th> <th>Price</th><th>Edit</th><th>Delete</th></tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.gender}}</td>
                <td><img class="fleximg" [src]="'https:/localhost:7277/' + item.gender + '/' + item.path" style="width:100px; height:100px"/></td>
                <td>{{item.price | currency}}</td>
                <td><button (click)="editItem(item)"  type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#EditModal">Edit</button></td>
                <td><button id={{item.id}} (click)="deleteItem($event)" type="button" class="btn btn-danger">Remove</button></td>
                <div class="modal fade" id="EditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <form [formGroup]="form" (submit)="saveChanges()">
                        <div class="modal-content">
                        <div class="modal-header">
                            <!--Title-->
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Add Item</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!--Form-->
                            <div class="mb-3">
                                <mat-form-field appearance="outline">
                                <mat-label>Id:</mat-label>
                                <input readonly matInput [formControl]="form.controls.id" />
                                </mat-form-field>
                            </div>
                        
                            <div class="mb-3">
                                <mat-form-field appearance="outline">
                                <mat-label>Name:</mat-label>
                                <input  matInput [formControl]="form.controls.name" />
                                </mat-form-field>
                            </div>
                            <div class="mb-3">
                                <input type="file" style="display: none;" #fileInput accept="Image*" (change)="imageSelected($event)">
                                <button type="button" mat-button (click)="fileInput.click()" style="color:black">Select Image</button>
                                <br>
                                @if (imageBase64) {
                                <img height="250" [src]="imageBase64">
                                }
                            </div>
                            <select [formControl]="form.controls.gender" class="form-select form-select-lg mb-3" aria-label="Gender" style="width: 200px;">
                            <option value="" disabled>Select Gender</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            </select>
                            <div class="mb-3">
                                <mat-form-field appearance="outline">
                                <mat-label>Price</mat-label>
                                <input [formControl]="form.controls.price" matInput type="number" class="example-right-align" />
                                <span matTextPrefix>$&nbsp;</span>
                                <span matTextSuffix></span>
                                </mat-form-field>
                            </div>
                            
                        </div>
                        <!--Footer-->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                        
                        </div>
                        </form>
                    </div>
                    </div>
                
            </tr>
        </tbody>
    </table>
    
</div>