<div style="position: relative;height: 100vh;width: 100vw;">
    <img src="/home/sideScreen.png" style="position: absolute; margin-left: 50%; width: 50%;height: 100%;">
    
        <div style="position:relative;width: 50%;">
            <img src="/home/logo2.png" style="margin: 20px;"/>
            <h1 style="margin-top: 40px;margin-left: 100px;">
                Welcome back
            </h1>
            <h6 style="margin-left: 100px; color:rgb(46, 41, 35)">
                Please enter your details
            </h6>
            <br>
            <label class="form-label" style="margin-left: 100px;">
                Email Address
            </label>
            <input #emailInput type="email" class="form-control" style="margin-left: 100px;width: 300px;"/>
            <br>
            <label class="form-label" style="margin-left: 100px;">
                Password
            </label>
            <input #passwordInput type="password" class="form-control" style="margin-left: 100px;width: 300px;"/>
            <br>
            <br>
            <button (click)="login(emailInput.value,passwordInput.value)" class="btn btn-primary" style="width: 100px;margin-left: 100px; background-color: #5044e4; color: white; border:0px">Sign In</button>
            <button (click)="Register()" class="btn btn-primary" style="width: 100px; background-color: #5044e4; color: white; margin-left: 50px; border:0px">Register</button>
        </div>
    <div class="toast-container">
  <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="..." class="rounded me-2" alt="...">
      <strong class="me-auto">Bootstrap</strong>
      <small class="text-muted">just now</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      See? Just like this.
    </div>
  </div>

  <div class="alert alert-danger position-fixed bottom-0 end-0 p-3" id="alert" role="alert" style="display: none">
   Wrong Password or Email Address
</div>
</div>
    
</div>