a {
    font-family: "Inter", sans-serif;
    margin-right: 35px;
    font-weight: bold;
}

h1 {
    font-family: "Inter", sans-serif;
    margin: auto;
    font-size: 70px;
}

h3 {
    font-family: "Inter", sans-serif;
    margin: auto;
}

h6 {
    font-size: 20px;
}


.fleximg {
    width: 33%;
    margin: 2px;
}

.flex-container {
  display: flex;
}

td, th {
    width: 300px;
}