<h3 style="margin-left: 15%;margin-top:5%">
  Welcome back, Admin
</h3>
<p style="margin-left: 15%;">
  Manage your fashion inventory with ease
</p>

<div class="flex-container" style="margin-left:15%;margin-top:50px;">
  <div class="card" style="width: 18rem;padding:30px  ">
    <div style="display: flex; align-items: center; gap: 10px;">
      <img style="width:50px; height:50px;" src="/admin/box.png" />
      <p class="card-text" style="">Total Items</p>
      <br>
      
    </div>
    <h3 style="margin-right:155px;">{{total}}</h3>
  </div>
</div>

<div class="flex-container" style="margin-left:55%;margin-top:50px;position:absolute">
  <div class="card" style="width: 100%;padding:30px  ">
    <div style="display: flex; align-items: center; gap: 10px;">
        <img src="/admin/hide.png" style="width:30px; height:30px;" />
        <h5 class="card-title" style="margin: 0;">View All Clothes</h5>
      </div>
    <p class="card-text">Browse and manage your entire collection</p>
    <button type="button" (click)="viewItem()" style="font-size: 20px;background-color: transparent;border: 0px;">View Collection</button>
  </div>
</div>

<div class="flex-container" style="margin-left:15%;margin-top: 50px;">
  <!--Button For Add Item-->
  <div class="card" style="width: 40%;padding:30px">
    <div>
      <div style="display: flex; align-items: center; gap: 10px;">
        <img src="/admin/AddItem.png" style="width:30px; height:30px;" />
        <h5 class="card-title" style="margin: 0;">Add New Clothes</h5>
      </div>
      <p class="card-text">Add new fashion items to your inventory</p>
      <button type="button" style="font-size: 20px;width:80%;background-color: #f06c44;color:white;border: 0px;" data-bs-toggle="modal" data-bs-target="#AddItem" data-bs-whatever="@mdo">Add Items Now</button>
    </div>
  </div>
</div>  




    


    <!--Add Item-->
    
    <div class="modal fade" id="AddItem" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <form [formGroup]="form" (submit)="saveChanges()">
        <div class="modal-content">
          <div class="modal-header">
            <!--Title-->
            <h1 class="modal-title fs-5" id="exampleModalLabel">Add Item</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!--Form-->
            
              <div class="mb-3">
                <mat-form-field appearance="outline">
                  <mat-label>Name:</mat-label>
                  <input  matInput [formControl]="form.controls.name" />
                </mat-form-field>
              </div>
              <div class="mb-3">
                <input type="file" style="display: none;" #fileInput accept="Image*" (change)="imageSelected($event)">
                <button type="button" mat-button (click)="fileInput.click()" style="color:black">Select Image</button>
                <br>
                @if (imageBase64) {
                  <img height="250" [src]="imageBase64">
                }
              </div>
              <div class="mb-3">
                <select [(ngModel)]="selectedOption" [formControl]="form.controls.gender" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" style="width: 200px;">
                  <option selected="Gender" value="Gender">Gender</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>
              </div>
              <div class="mb-3">
                <mat-form-field appearance="outline">
                  <mat-label>Price</mat-label>
                  <input [formControl]="form.controls.price" matInput type="number" class="example-right-align" />
                  <span matTextPrefix>$&nbsp;</span>
                  <span matTextSuffix></span>
                </mat-form-field>
              </div>
            
          </div>
          <!--Footer-->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
          
        </div>
        </form>
      </div>
      </div>
    
  
  <div>
    
  </div>



