a {
    font-family: "Inter", sans-serif;
    margin-right: 35px;
    font-weight: bold;
}

h1 {
    font-family: "Inter", sans-serif;
    margin: auto;
    font-size: 70px;
}

h3 {
    font-family: "Inter", sans-serif;
    margin: auto;
}

h6 {
    font-size: 20px;
}


.fleximg {
    width: 33%;
    margin: 2px;
}

.flex-container {
  display: flex;
}

td, th {
    width: 300px;
}

@keyframes myAnimation{
  0%{
    opacity: 1;
    
  }
  50%{
    opacity: 1;
   
  }
  100%{
    display: none;
    opacity: 0;
    
  }
}

.disappearing {
    animation-name: myAnimation;
    animation-duration: 3000ms;
   animation-fill-mode: forwards;
}