<div style="position: relative;width: 100vw;">
  
  <img src="/home/sideScreen.png" style="position: absolute; margin-left: 50%; width: 50%;">
  
  <div>
  <nav class="navbar navbar-expand-lg navbar-light bg-white" style="margin-left:15%;width: 30%;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="/home/logo2.png" /></a>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/women">Women</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/men">Men</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/new">New</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/home/account.png"/>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/cart">Cart</a></li>
            <li><a class="dropdown-item" href="/account">Account Details</a></li>
            <li><a class="dropdown-item" href="/">Log Out</a></li>

          </ul>
        </li>
        <li class="nav-item">
          
        </li>
      </ul>
    </div>
  </div>
</nav>


  <div style="position: relative;width: 50%;margin-left:0px; display:block;margin-top: 200px;text-align: center;">
    <h1>Elevate Your Style</h1>
    <h6>Discover our curated collection of contemporary fashion pieces designed for the modern wardrobe.<br>From everyday essentials to statement pieces.</h6><br>
    <button class="btn btn-primary" style="width: 130px;margin-left: 100px; background-color: #5044e4; color: white;border-radius: 50px;border:0px">Shop Men</button>
    <button class="btn btn-primary" style="width: 150px;margin-left:20px; background-color: #5044e4; color: white;border-radius: 50px;border:0px">Shop Women</button>
  </div>
  
</div>

<div style="margin-top: 25%;text-align: center">
  <div style="margin-left: 100px ;"><img src="/home/logo2.png"/><h3 style="display:inline"> Style Haven </h3>
  <h6>  Elevating contemporary fashion for the modern wardrobe. <br>
  <img src="/home/red-env.png" />Stay updated with our latest collections and exclusive offers. <br>
  <img src="/home/secure.png" />Secure payments
  <img src="/home/shipping.png" />Free shipping
  <img src="/home/checkout.png" />Secure checkout</h6>
</div>

</div>
<div style="text-align: center;margin-top: 100px;">
  <hr style="border: none; height: 1px; background-color: #ccc; opacity: 0.5;">
  <table style="display: inline-block;">
    <thead>
      <tr>
        <th>Shop</th>
        <th>Customer Care</th>
        <th>Company</th>
        <th>Connect</th>
      </tr>
      
    </thead>
    <tbody>
      <tr><td>Women</td><td>Size Guides</td><td>About Us</td><td><img src="/home/icons.png"/></td></tr>
      <tr><td>Men</td><td>Returns</td><td>Sustainability</td><td></tr>
      <tr><td>New</td><td>Contact Us</td><td>Careers</td><td></tr>

    </tbody>
  </table>
  <hr style="border: none; height: 1px; background-color: #ccc; opacity: 0.5;">
  <br>
</div>
<div>
  <a style="margin-left:480px">&copy; 2025 Style Haven. All Rights Reserved.</a>
</div>
</div>

